<div class="row">
    <div class="container jumbotron jumbotron-fluid justify-content-center">
        <div class=" ">
            <h1 class="display-4">Wellcome to the bippid chat</h1>
            <p class="lead">Disfruta del contacto directo con el mundo</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row auth-cart">
        <div class="col-md-8 offset-2">
            <div class="container jumbotron jumbotron-fluid justify-content-center">              
                   
                <div class="card text-center">
                    <div class="card-header">
                        Let's to chat
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Aviso importante</h5>
                        <p class="card-text">Para comenzar a chatear primero debes autenticarte</p>
                        <a [routerLink]="['/auth']" [routerLinkActive]= "['active']" class="btn btn-primary">Go to authenticate</a>
                    </div>
                   
                </div>
                
              
            </div>
        </div>
    </div>
</div>
